# Directories
log/
target/
/build/
/bin/

*.class

# Package Files #
*.jar
*.war
*.ear
*.db

# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
